# Data Science Notebook

## Data Science Notebook Title

This notebook contains basic exercises related to Data Science.

### Data Science Languages
1. Python
2. R
3. SQL

### Data Science Libraries
1. Pandas
2. NumPy
3. Matplotlib

### Data Science Tools
| Tool | Category |
|------|-----------|
| Jupyter Notebook | IDE |
| RStudio | IDE |
| VS Code | Editor |

Below is an example of simple arithmetic expressions in Python.

In [ ]:
a = 5 * 4
b = a + 10
b

In [ ]:
minutes = 180
hours = minutes / 60
hours

### Objectives
- Introduce Data Science Languages
- Learn DS Libraries
- Perform basic arithmetic
- Convert units
- Display author details

**Author:** Sahithi